<!-- it extends index page -->
{% extends "index.html" %}

<!-- retailer management form block started -->
{% block retailer_mgmt %}
         <section id="top" class="container-fluid mt-8">
              <a href="#section1" class="btn btn-dark" data-toggle="collapse">Create <i class="fa fa-plus"></i></a>  
                          
        </section>
   <!-- Content Section -->
        <section id="section1" class="collapse container-fluid mt-4">
            <div class="bg bg-lighta">
                <div class="sec_title">
                      <h6 >Retailer management</h6>
                </div>
               
                
            	<form class="form-horizontal col-xs-12 col-lg-12 col-md-12 col-sm-12" method="POST" action="{{url_for('update_retailerRecords')}}" name="wform" >
                  <fieldset  class="row sec1">
                     <legend class="ml-3">Retailer Information</legend>
                     
                     <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <!-- <label for="pName" class="text-light bg bg-info" >Program Name</label> -->
                        <input type="text" class="form-control mb-1" id="pName" placeholder="Program Name" name="pName" >
                     </div>
                     <div class="form-group col-4">
                        <!-- <label for="accN"  class="text-light bg bg-info">Account # </label> -->
                        <input type="Number" class="form-control mb-1" id="accN" placeholder="Account No" name="accN" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="addrs" class="text-light bg bg-info">Address</label>
                        <input type="text" class="form-control mb-1" id="addrs" placeholder="Address" name="addrs" >
                     </div>
                      <!-- <div class="form-group col-4">
                        <label for="cntry" class="text-light bg bg-info">Country </label>
                        <input type="text" class="form-control mb-1" id="cntry" placeholder="Enter Country" name="cntry" >
                     </div> -->
                     <div class="form-group col-4">
                            <!-- <label for="cntry" class="">Country </label> -->
                            <select name="country" id="country" class="custom-select mb-1"></select> 
                    </div>
                    <div class="form-group col-4">
                            <!-- <label for="cntry" class="">Country </label> -->
                            <select name="state" id="state" class="custom-select mb-1"></select> 
                    </div>

                      <!-- <div class="form-group col-4">
                        <label for="state" class="text-light bg bg-info">State </label>
                        <input type="text" class="form-control mb-1" id="state" placeholder="Enter  State"  name="state" >
                     </div> -->
                     <div class="form-group col-4">
                        <label for="city" class="text-light bg bg-info">City </label>
                        <input type="text" class="form-control mb-1" id="city" placeholder="City" name="city" >
                     </div>                    

                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="zCode" class="text-light bg bg-info">Zip Code</label>
                        <input type="Number" class="form-control mb-1" id="zCode" placeholder="Zip Code" name="zCode" >
                     </div>
                    
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="strDate" class="text-light bg bg-info">Start Date</label>
                        <input type="date" class="form-control  mb-1" id="strDate" placeholder="Start Date" name="strDate" >
                     </div>
                     <div class="form-group col-4">
                        <label for="status" class="text-light bg bg-info">Status </label>
                        <input type="text" class="form-control mb-1" id="status" placeholder="Status" name="status" >
                     </div>
                     
                  </fieldset>

                  <!-- Job Title -->
                  <fieldset  class="row sec1">
                     <legend class="ml-3">Job Title</legend>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="jobTitle" class="text-light bg bg-info">Job Title</label>
                        <input type="text" class="form-control mb-1" id="jobTitle" placeholder="Job Title" name="jobTitle" >
                     </div>   
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="fName" class="text-light bg bg-info">First Name</label>
                        <input type="text" class="form-control mb-1" id="fName" placeholder="First Name" name="fName" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="lName" class="text-light bg bg-info">Last Name</label>
                        <input type="text" class="form-control mb-1" id="lName" placeholder="Last Name" name="lName" >
                     </div>  
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="phone" class="text-light bg bg-info">Phone Number</label>
                        <input type="Number" class="form-control mb-1" id="phone" placeholder="Phone Number" name="phone" >
                     </div> 
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="ext" class="text-light bg bg-info">Ext #</label>
                        <input type="text" class="form-control mb-1" id="ext" placeholder="Ext " name="ext" >
                     </div>  
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="mobile" class="text-light bg bg-info">Mobile</label>
                        <input type="Number" class="form-control mb-1" id="mobile" placeholder="Mobile Number" name="mobile" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="email" class="text-light bg bg-info">Email</label>
                        <input type="email" class="form-control mb-1" id="email" placeholder="Email" name="email" >
                     </div> 
                  </fieldset>

                  <!-- Job Title 2 -->
                  <fieldset  class="row sec1">
                       <legend  class="ml-3">Job Title2</legend>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="jobTitle2" class="text-light bg bg-info">Job Title </label>
                        <input type="text" class="form-control mb-1" id="jobTitle2" placeholder="Job Title" name="jobTitle2" >
                     </div>   
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="fName2" class="text-light bg bg-info">First Name</label>
                        <input type="text" class="form-control mb-1" id="fName2" placeholder="First Name" name="fName2" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="lName2" class="text-light bg bg-info">Last Name</label>
                        <input type="text" class="form-control mb-1" id="lName2" placeholder="Last Name" name="lName2" >
                     </div>  
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="phone2" class="text-light bg bg-info">Phone Number</label>
                        <input type="Number" class="form-control mb-1" id="phone2" placeholder="Phone Number" name="phone2" >
                     </div> 
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="mobile2" class="text-light bg bg-info">Mobile</label>
                        <input type="Number" class="form-control mb-1" id="mobile2" placeholder="Mobile Number" name="mobile2" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="email2" class="text-light bg bg-info">Email</label>
                        <input type="email" class="form-control mb-1" id="email2" placeholder="Email" name="email2" >
                     </div> 
                  </fieldset>


                  <!-- Job Title 3-->
                  <fieldset  class="row sec1">
                       <legend  class="ml-3">Job Title3</legend>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="jobTitle3" class="text-light bg bg-info">Job Title</label>
                        <input type="text" class="form-control mb-1" id="jobTitle3" placeholder="Job Title" name="jobTitle3" >
                     </div>   
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="fName3" class="text-light bg bg-info">First Name</label>
                        <input type="text" class="form-control mb-1" id="fName3" placeholder="First Name" name="fName3" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="lName3" class="text-light bg bg-info">Last Name</label>
                        <input type="text" class="form-control mb-1" id="lName3" placeholder="Last Name" name="lName3" >
                     </div>  
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="phone3" class="text-light bg bg-info">Phone Number</label>
                        <input type="Number" class="form-control mb-1" id="phone3" placeholder="Phone Number" name="phone3" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="mobile3" class="text-light bg bg-info">Mobile</label>
                        <input type="Number" class="form-control mb-1" id="mobile3" placeholder="Mobile Number" name="mobile3" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="email3" class="text-light bg bg-info">Email</label>
                        <input type="email" class="form-control mb-1" id="email3" placeholder="Email" name="email3" >
                     </div> 
                  </fieldset> 

                  <!-- Job Title 4 -->
                  <fieldset  class="row sec1">
                       <legend  class="ml-3">Job Title4</legend>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="jobTitle4" class="text-light bg bg-info">Job Title </label>
                        <input type="text" class="form-control mb-1" id="jobTitle4" placeholder="Job Title" name="jobTitle4" >
                     </div>   
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="fName4" class="text-light bg bg-info">First Name</label>
                        <input type="text" class="form-control mb-1" id="fName4" placeholder="First Name" name="fName4" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="lName4" class="text-light bg bg-info">Last Name</label>
                        <input type="text" class="form-control mb-1" id="lName4" placeholder="Last Name" name="lName4" >
                     </div>  
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="phone4" class="text-light bg bg-info">Phone Number</label>
                        <input type="Number" class="form-control mb-1" id="phone4" placeholder="Phone Number" name="phone4" >
                     </div> 
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="mobile4" class="text-light bg bg-info">Mobile</label>
                        <input type="Number" class="form-control mb-1" id="mobile4" placeholder="Mobile Number" name="mobile4" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="email4" class="text-light bg bg-info">Email</label>
                        <input type="email" class="form-control mb-1" id="email4" placeholder="Email" name="email4" >
                     </div> 
                  </fieldset>


                  <!-- National Account Rep  -->
                  <fieldset  class="row sec1">
                       <legend  class="ml-3">National Account Rep</legend>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="NARepfName" class="text-light bg bg-info">First Name </label>
                        <input type="text" class="form-control mb-1" id="NARepfName" placeholder="NAR First Name" name="NARepfName" >
                     </div>   
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="NARepLName" class="text-light bg bg-info">Last Name</label>
                        <input type="text" class="form-control mb-1" id="NARepLName" placeholder="NAR Last Name" name="NARepLName" >
                     </div>
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="NARepMobile" class="text-light bg bg-info">Mobile Number</label>
                        <input type="Number" class="form-control mb-1" id="NARepMobile" placeholder="Mobile Number" name="NARepMobile" >
                     </div> 
                     <div class="form-group col-lg-4 col-sm-12">
                        <label for="NARepMail" class="text-light bg bg-info">Email</label>
                        <input type="email" class="form-control mb-1" id="NARepMail" placeholder="Email" name="NARepMail" >
                     </div> 
                  </fieldset>
                     
                     <div class="form-group col-lg-12 text-center ">
                        <button type="Submit" class="btn btn-primary">Submit</button>
                     </div>
               </form>
   <!-- End of Form -->
               
            </div>
         </section>


   <!-- Dsiplay Data in the form of CARD -->
      <!-- Section - 2 -->
        <section id="section2" class="container-fluid">
            <div class="bg bg-lighta">
                 
                      <div class="sec_title">
                            <h6>View Fetched Data</h6>
                  </div>
            

                  <div class="row mt-3 pl-3 pr-3">
                  {% for p in rtlrList %}
                     <div class="col-lg-4 col-md-6 col-sm-12 mt-4">             
                          <div class="card">
                              <div class="card-body">
                              <h5 class="card-title bg bg-dark text-light p-1">Program Name : {{p["ProgramName"]}}</h5>
                              
                             
                              <table class="mb-4">
                                 <tr><td>Account # : </td><td>{{p["Account"]}}</td></tr>
                                 <tr><td class="pr-4">Address : </td><td>{{p["Address1"]}}</td></tr>
                                 <tr><td>City : </td><td>{{p["City"]}}</td></tr>
                                 <tr><td>Country : </td><td>{{p["Country"]}}</td></tr>
                                 <tr><td>State : </td><td>{{p["State"]}}</td></tr>
                                 <tr><td>Zip Code : </td><td>{{p["Zip"]}}</td></tr>

                                 
                                 <tr><td>Start Date : </td><td>{{p["Hire"]}}</td></tr>
                                 <tr><td>Status : </td><td>{{p["Status"]}}</td></tr>

                                 <tr><td>Job Title : </td><td>{{p["Jobtitle"]}}</td></tr>
                                 <tr><td>First Name : </td><td>{{p["FirstName"]}}</td></tr>
                                 <tr><td>Last Name : </td><td>{{p["LastName"]}}</td></tr>
                                 <tr><td>Phone Number : </td><td>{{p["Phone1"]}}</td></tr>
                                 <tr><td>Ext# : </td><td>{{p["PhoneExt"]}}</td></tr>
                                 <tr><td>Mobile : </td><td>{{p["Mobile1"]}}</td></tr>
                                 <tr><td>Email : </td><td>{{p["Email1"]}}</td></tr>

                                 <tr><td>Job Title : </td><td>{{p["Jobtitle2"]}}</td></tr>
                                 <tr><td>First Name : </td><td>{{p["FirstName2"]}}</td></tr>
                                 <tr><td>Last Name : </td><td>{{p["LastName2"]}}</td></tr>
                                 <tr><td>Phone Number : </td><td>{{p["Phone2"]}}</td></tr>
                                 <tr><td>Mobile : </td><td>{{p["Mobile2"]}}</td></tr>
                                 <tr><td>Email : </td><td>{{p["Email2"]}}</td></tr>

                                 <tr><td>Job Title : </td><td>{{p["Jobtitle3"]}}</td></tr>
                                 <tr><td>First Name : </td><td>{{p["FirstName3"]}}</td></tr>
                                 <tr><td>Last Name : </td><td>{{p["LastName3"]}}</td></tr>
                                 <tr><td>Phone Number : </td><td>{{p["Phone3"]}}</td></tr>
                                 <tr><td>Mobile : </td><td>{{p["Mobile3"]}}</td></tr>
                                 <tr><td>Email : </td><td>{{p["Email3"]}}</td></tr>

                                 <tr><td>Job Title : </td><td>{{p["Jobtitle4"]}}</td></tr>
                                 <tr><td>First Name : </td><td>{{p["FirstName4"]}}</td></tr>
                                 <tr><td>Last Name : </td><td>{{p["LastName4"]}}</td></tr>
                                 <tr><td>Phone Number : </td><td>{{p["Phone4"]}}</td></tr>
                                 <tr><td>Mobile : </td><td>{{p["Mobile4"]}}</td></tr>
                                 <tr><td>Email : </td><td>{{p["Email4"]}}</td></tr>

                                 <tr><td>ANAR First Name : </td><td>{{p["ANtlAcctRepFirst"]}}</td></tr>
                                 <tr><td>ANAR Last Name : </td><td>{{p["ANtlAcctRepLast"]}}</td></tr>
                                 <tr><td>ANAR Mobile Number : </td><td>{{p["ANtlAcctRepPhone"]}}</td></tr>
                                 <tr><td>ANAR Email : </td><td>{{p["ANtlAcctRepEmail"]}}</td></tr>
                              </table>
                           </div>
                           <div class="card-footer">
                              <form method="POST" action="edit/{{p['_id']}}" >
                                 <div class="form-group ">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button>
                                 </div>
                              </form>
                              <!-- <form method="POST" action="delete/{{p['_id']}}" class="col-lg-3 col-md-3">
                                 <div class="form-group ">
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                 </div>
                              </form>
                              <form method="POST" action="remove_field/{{p['_id']}}" class="col-lg-6 col-md-6">
                                 <div class="form-group ">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-minus-circle" aria-hidden="true"></i> Clear Details</button>
                                 </div>
                              </form> -->
                           </div>
                           <!-- <a href="#" class="btn btn-primary">Edit</a>
                           <a href="#" class="btn btn-primary">Delete</a> -->
                        </div>
                     </div>
                  {% endfor %}
               </div>
               <div class="row text-center">                    
                      <div class="col-lg-4 text-center">
                          <div id="pagination" class="m-3">
                              <ul class="pagination pagination-sm">
                                  <li class="page-item"><a class="btn btn-outline-dark btn-sm mr-1" href="#">Previous</a></li>
                                  <li class="page-item"><a class="btn btn-dark mr-1 btn-sm" href="#">1</a></li>
                                  <li class="page-item"><a class="btn btn-dark mr-1 btn-sm" href="#">2</a></li>
                                  <li class="page-item"><a class="btn btn-dark mr-1 btn-sm" href="#">3</a></li>
                                  <li class="page-item"><a class="btn btn-outline-dark btn-sm mr-1" href="#">Next</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
               </div>
      </section>

      

  


{% endblock %}